/InNetbeans/Practise/nbproject/private/
/InNetbeans/Practise/build/
/InNetbeans/Practise/dist/
/InNetbeans/Practise2/nbproject/private/
/InNetbeans/Practise2/build/
/InNetbeans/BMS/nbproject/private/
/InNetbeans/BMS/build/